<form action="free_process.php" id="contactformfree" method="post" name="contactformfree" onsubmit="return validate.check(this)">
				
			    <label for="Full_Name">Name</label></br>
			    <input id="Full_Name" maxlength="80" name="Full_Name" style="width:250px" type="text"></br>

				<label for="Email_Address">Email</label></br>	
			    <input id="Email_Address" maxlength="100" name="Email_Address" style="width:250px" type="text"></br>

				<label for="Your_Message">Message</label></br>	   
				<textarea id="Your_Message" maxlength="2000" name="Your_Message" style="width:250px;height:120px">
				</textarea></br>
				
				<input type="submit" value="Submit">
			</form>
	<div class="content">
		<h1>Get in touch.</h1>
		
			<!--h5>
				<a href=
				"mailto:dustin@dustinaguilar.com">dustin@dustinaguilar.com</a>
			</h5-->
			<h5>
				<a href=
				"http://www.linkedin.com/pub/dustin-aguilar/33/703/50b">
				LinkedIn</a>
			</h5>
			 
			 <h5><a href="http://www.behance.net/dustinaguilar">Behance</a></h2>
			<h5>
				<a href=
				"http://facebook.com/dustinaguilarweb">Facebook</a>
			</h5>

			<!--h2>
				<a href=
				"http://twitter.com/#!/DustinBooyah">Twitter</a>
			</h2-->

			<!--h2>
				<a href=
				"https://plus.google.com/104469400340488620629">Google
				Plus</a>
			</h2-->

			<h5>
				<a href="http://vimeo.com/channels/266746">Vimeo</a>
			</h5>
			<p>To simply get a hold of me, send me an email by filling and submitting the form.</p>
		</div>
        
           
		
			
			
            <div class="fb-like" data-colorscheme="dark" data-font="segoe ui"
            data-href="http://www.dustinaguilar.com" data-send="false"
            data-show-faces="true" data-width="320"></div>
			