<div class="row">
<div class="large-12 column text-center">
  <h1>Hi.</h1>
  <h2>My name is Dustin. I design graphics and build websites.</h2>
  <p>An eye for detail, the latest development practices and a passion for design help me create a beautiful, solid web presence for my clients that they can be proud of.</p>
  <a href="gallery.php" class="cta">Take a look.</a>
</div>
</div>
<!-- <div class="large-6 column centered">
  <img alt="Welcome" src="images/imagemain.png">
</div> -->