<div class="half">
            <div class="content">
                <h1>I design and build websites.</h1>

                <p>I have been a web developer for a little more than a decade. My goal is to produce something beautiful,  streamlined and solid.</p>
                
                <p>Organization, an eye for detail and the latest development practices help me build websites that clients are can't wait to show off. Check out the gallery for some examples.</p>

                <h5 class="right"><a href="gallery.php"><strong><em>View Gallery</em></strong></a></h5>
            </div>
        </div>

<div class="half">
<%= image_tag 'imagemain.png' %>
</div>
        
		
		<div class="fb-like" data-colorscheme="dark" data-font="segoe ui"
            data-href="http://www.dustinaguilar.com" data-send="false"
            data-show-faces="true" data-width="320"></div>