<div class="large-6 column">
            <div class="panel">
                <h1>I design and build websites.</h1>

                <p>I've been a web developer for a little more than a decade now.</p>

            </div>
        </div>

<div class="large-6 column">
<%= image_tag 'imagemain.png' %>
</div>
      
		
		<div class="fb-like" data-colorscheme="dark" data-font="segoe ui"
            data-href="http://www.dustinaguilar.com" data-send="false"
            data-show-faces="true" data-width="320"></div>