

<div class="half">
        <div class="content">
                <h1>Skillset</h1>
				
				<h2>Web Design/Development</h2>
                <ul>
                    <li>HTML / CSS</li>
                    <li>Wordpress</li>
                    <li>Ruby on Rails</li>
					<li>Adobe Fireworks and Photoshop</li>
				</ul>
				
				<h2>Graphic / Logo Design</h2>
				<ul>
                    <li>Adobe Illustrator, Photoshop</li>
				</ul>
                    
				<h2>Video & Photography</h2>
				<ul>
					<li>Final Cut Pro, Adobe Premiere, Sony Vegas</li>
					<li>Motion Graphics / After Effects</li>
				</ul>
				
				<h2>Miscellaneous</h2>
				<ul>
                    <li>PC builds, upgrades and minor IT</li>
					<li>Writing</li>
                    <!--li><span>Android Rooting/Customization</span></li-->
                </ul>
				 <p>Take a look at my <a href="gallery.php">gallery</a> for examples or visit me on <a href="http://www.behance.net/dustinaguilar"
                target="_blank">Behance</a> to see what I'm working on currently.</p>
        </div>
    </div>
    <div class="half">
<%= image_tag 'imageservices.png' %>
</div>