body {
    background:#000;
    color:#959595;
    font-family:"Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing:-0.025em;
}

img {
    padding:0.25em;
    }

.clr:before, .clr:after {
    content: " ";
    display: table; }
.clr:after {
    clear: both; }
a {
    color:#78CC00;
    text-decoration:none;
    display:inline-block;
}

a:hover,a:active,a:focus {
    color:#cf0;
}

a:hover {
    cursor:pointer;
}

ul,ol,dl {
    list-style-position:outside;
}

li {
    list-style-type:none;
    font-weight:400;
}
p {
    font-size:95%;
    text-rendering:optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:700;
    color:#fefefe;
    text-rendering:optimizeLegibility;
    opacity:0.9;
}

h1 {
    color:rgba(30, 160, 255, 0.75);
    font-size:8rem;
    opacity: 0.75;
    margin:0 auto;
}

h2 {
    font-size:1.6875rem;
}

h3 {
    font-size:1.375rem;
}

h4 {
    font-size:1.125rem;
}

h5 {
    font-size:1.125rem;
}

h6 {
    font-size:1rem;
}

form {
    border:none;
    margin-right:200px;
}

input,textarea {
    margin-bottom:10px;
    margin-top:-5px;
    margin-right:0;
    padding:5px;
}

label {
    color:#006AA3;
    font-size:80%;
    font-weight:700;
}
section {
    height:75vh;
    /*margin-top:5%;*/
}

footer {
  color:#7B7B7B;
  text-align:center;
  font-size:85%;
}

.wrapper {
    max-width:90%;
    margin: auto;
}

.cta {
    font-size:1.75rem;
    font-weight:700;
}

.text-center,
.text-centered {
    text-align:center;
}

.center,
.centered {
    margin:0 auto;
}

.blended {
  background-image: url(/logo_blend.jpg);
  background-blend-mode: multiply;
}

/*.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; 
}
  .inline-list > li {
        list-style: none;
        float: left;
        margin-left: 1.375rem;
        display: block; 
    }
     .inline-list > li > * {
          display: block; 
      }*/

@media only screen {

    form {
        margin:0 auto;
        float:none;
    }

    .cffree {
        padding:0;
    }

}

@media only screen and (min-width: 40.063em) {

    body {
        background: url(/bg_4k.png) #000 no-repeat top center;
        background-size:cover;
    }

    .cffree {
        float:right;
        padding:50px 100px 100px 0;
    }

}

.orange {
background:linear-gradient(90deg, #f68d1f, #f26522);
}

.green {
background:linear-gradient(-90deg, #ccdb29, #66bc45);
}

.red {
background:linear-gradient(90deg, #b31e3f, #840c2a);
}

.blue {
background:linear-gradient(-90deg, #0770b5, #254396);
}
.white {
    background-color:white;
}

[class *= "circ"] {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #fff;
}
.mini-circ {
  top: 80%;
  top: 55%;
  transform: translate(-50%,-50%) scale(0.90) rotate(0deg);
  animation: rotate-revolve-top-left 2s infinite linear;
}

/*Keyframes*/
@keyframes rotate-revolve-top-left {
  from {transform: translate(-50%,-50%) scale(0.90) rotate(45deg);
  transform-origin: top-left;}
  to {transform: translate(-50%,-50%) scale(0.90) rotate(400deg);
  transform-origin: top-left;}
}