<footer>
  <div class="row">
    <div class="large-12 columns">
    
      <%= image_tag("logo_footer.png", :alt => "Dustin Aguilar") %>
    </div>
    <div class="large-12 columns">
      <small>Copyright 1999-2015 | Dustin Aguilar</small>
    </div>
      <!-- <a href="http://www.behance.net/dustinaguilar"><img src="images/_ico-behance.png"></a>
      <a href="http://www.linkedin.com/pub/dustin-aguilar/33/703/50b"><img src="images/_ico-linkedin.png"></a> -->
  </div>
</footer>