<footer>
        <p><a href="contact.html">Contact</a> | <a href=
        "mailto:dustin@dustinaguilar.com">Site Feedback</a><br>
        Copyright 1999-2014 | Dustin Aguilar</p>
 
	<!-- <div class="right">
      <a href="http://www.behance.net/dustinaguilar"><img src="images/_ico-behance.png"></a>
	   <a href="http://www.facebook.com/dustinaguilarweb"><img src="images/_ico-facebook.png"></a>
	   <a href="http://instagram.com/d_moneyfresh"><img src="images/_ico-instagram.png"></a>
	   <a href="http://www.linkedin.com/pub/dustin-aguilar/33/703/50b"><img src="images/_ico-linkedin.png"></a>
    </div> -->
</footer>