<nav>
 
    <div class="large-6 columns small-centered">
      <div class="icon-bar four-up">
        <a class="item" href="index.html"><!-- <i class="fi-home"></i>  -->Home</a>
        <a class="item" href="services.html"><!-- <i class="fi-info"></i> -->Skills</a>
        <a class="item" href="gallery.php"><!-- <i class="fi-photo"></i> -->Gallery</a>
        <a class="item" href="contact.html"><!-- <i class="fi-mail"></i> -->Contact</a> 
      </div>
    </div>

</nav>